
@inject IModalService ModalService
@inject IToastService toastService

    <div id="myModal">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        @if (action == 0)
                        {
                            <i class="fas fa-check"></i>
                        }
                        else
                        {
                            <i class="fas fa-times"></i>
                        }
                    </div>
                    <h4 class="modal-title">@heading</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">@message</p>
                    @if(action == 3)
                    {
                        <input type="text" class="form-control" name="x" placeholder="enter in value" @bind="inputValue" >
                    }
                </div>
                <div class="row">
                    @if (action == 0)
                    {
                        <div class="col-6">
                            <button class="btn btn-success btn-block" @onclick="HandleYes">Yes</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-success btn-block" @onclick='HandleNo'>No</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-6">
                            <button class="btn btn-success btn-block" @onclick="HandleYes" style="background:@actionOkColor">OK</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-success btn-block" @onclick='HandleNo' style="background:@actionCancelColor">Cancel</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
@code {

    [CascadingParameter] ModalParameters Parameters { get; set; }

    private string heading = "";
    private string message = "Please click YES to confirm";
    private int action = 0;
    private string actionOkColor = "#82ce34";
    private string actionCancelColor = "#c1c1c1";
    private string inputValue = "";

    protected override void OnInitialized()
    {
        if (Parameters != null)
        {
            heading = Parameters.TryGet<string>("Heading");
            message = Parameters.Get<string>("Message");
            action = Parameters.Get<int>("Action");
            if(action != 0)
            {
                actionOkColor = "#f15e5e";
                actionCancelColor = "#c1c1c1";
            }
        }
    }

    private void HandleYes()
    {
        string returnMessage = "Yes";
        if(action == 3)
        {
            returnMessage = inputValue;
        }
        ModalService.Close(ModalResult.Ok<string>(returnMessage));
    }

    private void HandleNo()
    {
        ModalService.Cancel();
    }
}
