@page "/counter"

@inject IModalService Modal

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button @onclick="ShowModal" class="btn btn-primary">Show Modal</button>

@code{
    //handle the Modal
    void ShowModal()
    {
        var parameters = new ModalParameters();
        parameters.Add("FormId", 11);

        Modal.OnClose += ModalClosed;
        Modal.Show<CommonDialog>("Sign Up Form", parameters);
    }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    void ModalClosed(ModalResult modalResult)
    {
        Console.WriteLine("Modal has closed");

        if (modalResult.Cancelled)
        {
            Console.WriteLine("Modal was Cancelled");
        }
        else
        {
            Console.WriteLine(modalResult.Data.ToString());
        }

        Modal.OnClose -= ModalClosed;
    }
}
